{% extends "base-topmenu.html" %}
{% block title %}BenthoBox - Campaign Create {% endblock %}

{% block content %}
<div id="createcampaign_container" class=""></div>

<script type="text/template" id="createcampaign_template">
    <form class="form-horizontal">
    <fieldset>
        <legend>Campaign Create</legend>
        <div class="alert alert-success" style="display: none">
            <strong>Success!</strong> Campaign created.
            <button type="button" class="btn btn-success btn-mini" id="done_button" style="float: right;">
                    Done</button>           
            <button type="button" class="btn btn-success btn-mini" id="create_another_button" style="float: right;">
                    Create another</button>
        </div>
        <div class="form1">
            <div class="alert alert-error" style="display: none">
                <strong>
                    <spand id="error_message1">
                    Error Message 1</span></strong> <span id="error_message2">Error Message 2</span>
            </div>
            <div class="control-group">
                <label class="control-label" for="short_name">
                    Short name:</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="short_name" name="short_name" data-error-style="inline">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="description">
                    Description:</label>
                <div class="controls">
                    <textarea class="input-xlarge" id="description" name="description" rows="3" data-error-style="inline"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="associated_researchers">
                    Associated
                    <br />
                    researchers:</label>
                <div class="controls">
                    <textarea class="input-xlarge" id="associated_researchers" name="associated_researchers"
                        rows="3" data-error-style="inline"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="associated_publications">
                    Associated
                    <br />
                    publications:</label>
                <div class="controls">
                    <textarea class="input-xlarge" id="associated_publications" name="associated_publications"
                        rows="3" data-error-style="inline"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="associated_research_grant">
                    Associated
                    <br />
                    research grant:</label>
                <div class="controls">
                    <textarea class="input-xlarge" id="associated_research_grant" name="associated_research_grant"
                        rows="3" data-error-style="inline"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="date_start">
                    Start Date:</label>
                <div class="controls">
                    <div class="input-append date" id="datestart" data-date="2012-12-25" data-date-format="yyyy-mm-dd">
                        <input class="span2" size="16" id="date_start" name="date_start" value="2012-12-25"
                            readonly="" type="text">
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="date_end">
                    End Date:</label>
                <div class="controls">
                    <div class="input-append date" id="dateend" data-date="2012-12-26" data-date-format="yyyy-mm-dd">
                        <input class="span2" size="16" id="date_end" name="date_end" value="2012-12-26" readonly=""
                            type="text">
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="contact_person">
                    Contact person:</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="contact_person" name="contact_person"
                        data-error-style="inline">
                </div>
            </div>
            <div style="margin-left: 374px;">
                <button type="button" class="btn btn-primary btn-large" id="create_button">
                    Create</button>
            </div>
        </div>
    </fieldset>
    </form>
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone-views/campaigncreate.js"></script>
<script type="text/javascript">
    var nowTemp = new Date();
    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

    var datestart = $('#datestart').datepicker({
        onRender: function (date) {
            //return date.valueOf() < now.valueOf() ? 'disabled' : '';
        }
    }).on('changeDate', function (ev) {
        if (ev.date.valueOf() > dateend.date.valueOf()) {
            var newDate = new Date(ev.date)
            newDate.setDate(newDate.getDate());
            dateend.setValue(newDate);
        }
        datestart.hide();
        $('#dateend')[0].focus();
    }).data('datepicker');

    var dateend = $('#dateend').datepicker({
        onRender: function (date) {
            return date.valueOf() < datestart.date.valueOf() ? 'disabled' : '';
        }
    }).on('changeDate', function (ev) {
        dateend.hide();
    }).data('datepicker');

    datestart.setValue(now);
    dateend.setValue(now);

</script>

{% endblock %}

