{% extends "base-topmenu.html" %}
{% block tail_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}lib/OpenLayers/map-extras.css" type="text/css">
{% endblock %}

{% block content %}
<div id="CampaignViewContainer" class=""></div>

<script type="text/template" id="CampaignViewTemplate">

    <div class="row-fluid">

        <ul class="breadcrumb">
            <li><a href="<%= campaignlist_url %>">Campaign List</a> <span class="divider">
                ></span></li>
            <li><a href="<%= campaign_url%>"><%= campaign_name%></a>
                
        </ul>
    </div>

    <div>

        <div class="col-xs-4">
            <div class="jumbotron">
                <h2><%= campaign_name%></h2>

                <p><b>Start Date: </b> <%= start_date %></p>
                <p><b>End Date: </b> <%= end_date %> </p>
                <p><b>Description </b> </p>
                <p> <%= description %> </p>
                <p><b>Researchers</b></p>
                <p> <%= researchers %>  </p>
                <p><b>Publications </b> </p>
                <p> <%= publications %> </p>
                <p><b>Grant </b> </p>
                <p> <%= grant %> </p>

            </div>
            <!--
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Researchers</th>
                        <th>Publications</th>
                        <th>Grant</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= start_date %></td>
                        <td><%= end_date %></td>
                        <td><%= researchers %></td>
                        <td><%= publications %></td>
                        <td><%= grant %></td>
                        <td><%= description %></td>
                    </tr>
                </tbody>
            </table>
            -->
        </div>

        <div class="col-xs-8">
            <div class="row">
                <!--<div id='deployment-map' style="height: 300px; width:100%; border: 2px"></div>-->
                <div id='deployment-map' style="height: 300px;"></div>
            </div>

            <div class="row">
                <div>
                    <%= deploymentlist %>
                </div>
            </div>
        </div>

    </div>

</script>

<script type="text/template" id="DeploymentListTemplate">   
    <h3>Deployments in <%= campaign_name%></h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>            
            <th>Start Time</th>
            <th>End Time</th>
            <th>Min Depth</th>
            <th>Max Depth</th>
        </tr>
        </thead>
        <tbody id="deploymentlist">            
            <%=deployments%>
        </tbody>
    </table>

    <div id="pagination"></div>

</script>

<script type="text/template" id="DeploymentTemplate">   
    <tr>
        <td><a href="<%= deployment_url %>"><%= short_name %></a></td>
        <td><%= type %></td>        
        <!--<td><a href="<%= type_url %>"><%= type %></a></td>-->
        <td><%= start_time %></td>
        <td><%= end_time %></td>
        <td><%= min_depth %></td>
        <td><%= max_depth %></td>
    </tr>
</script>

{% endblock %}

{% block add_script %}
<script type="text/javascript" src="{{ STATIC_URL }}lib/OpenLayers/OpenLayers.js"></script>
<script src="{{ STATIC_URL }}lib/OpenLayers/LoadingPanel.js"></script>
<script src="{{ STATIC_URL }}lib/OpenLayers/AnimatedCluster.js"></script>
<script src='{{ STATIC_URL }}js/MapUtils.js'></script>


<script type="text/javascript">
    //Init js variables which is used by Backbone to render html template
    var WFS_URL = "{{ WFS_URL }}";
    var LAYER_DEPLOYMENTS = "{{ LAYER_DEPLOYMENTS }}";
    var DeploymentListUrl = "{% url "webinterface.views.deployment_list" %}"
    var CampaignListUrl = "{% url "webinterface.views.campaign_list" %}"
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone-views/campaignview.js"></script>



{% endblock %}
