{% extends "base-topmenu.html" %}
{% block content %}
 <ul class="breadcrumb">
    <li><a href="/data">Data</a>
    <li class="active"><span class="divider">></span> Deployment List</li>
 </ul>

<div id="DeploymentListContainer"  class=""></div>

<script type="text/template" id="DeploymentListTemplate">
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Min Depth</th>
            <th>Max Depth</th>
            <th>Related Campaign</th>
        </tr>
    </thead>
    <tbody>
        <%=deployments%>
    </tbody>
</table>

<div id="pagination"></div>

</script>

<script type="text/template" id="DeploymentTemplate">
    <tr>
        <td><a href="<%= type_url %>"><%= type %></a></td>
        <td><a href="<%= deployment_url %>"><%= short_name %></a></td>
        <td><%= start_time %></td>
        <td><%= end_time %></td>
        <td><%= min_depth %></td>
        <td><%= max_depth %></td>
        <td><a href="<%= campaign_url %>"><%= campaign_name %></a></td>
    </tr>
</script>

<script type="text/javascript">
    //Init js variables which is used by Backbone to render html template
    var CampaignListUrl = "{% url "webinterface.views.campaign_list" %}"
</script>

<script type="text/javascript" src="{{ STATIC_URL }}js/backbone-views/deploymentlist.js"></script>

{% endblock %}
